body{
    font-family: "Open Sans", sans-serif; 
}
main{
    background-color: #CCCCCC;
    margin: auto;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 100px;
    width: 65%;
}

h1{
    font-size: 2rem;
    text-align: center;
}

section .hint{
    font-size: 1rem;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 30px;
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-container .grid-item:nth-child(n){
background-color: #FFD653;
display: flex;
padding: 60px;
justify-content: center;
align-items: center;
}

.grid-container .grid-item:nth-child(1){
    grid-column: span 2;
    background-color: #8B740C;
}

.grid-container .grid-item:nth-child(4){
    grid-column: span 3;
    background-color: #005780;
}

.grid-container .grid-item:nth-child(6){
    grid-column: span 4;
    background-color: #800080;
}

.grid-container .grid-item:nth-child(9){
    grid-column: span 2;
    background-color: #76AFB9;
}
